.App {
  height: 110vh;
  color: white;
  background-color: #020230;
  display: flex;
  flex-direction: column;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: url("https://i.pinimg.com/originals/f1/17/23/f11723f9894882a76ce18a626cc5ad69.jpg")
    center;
  height: 100%;
  background-size: cover;
}

.quiz {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.question {
  width: 80%;
  background: linear-gradient(#100241, black);
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid white;
  font-size: 20px;
}

.question {
  width: 80%;
  background: linear-gradient(#100241, black);
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid white;
  font-size: 20px;
}

.answers {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.answer {
  width: 40%;
  padding: 10px;
  margin: 0 10px 20px 10px;
  text-align: center;
  background: linear-gradient(#0e0124, #22074d);
  border: 1px solid white;
  border-radius: 65px;
  font-weight: 300;
  font-size: 20px;
  cursor: pointer;
}

.answer:hover,
.answer.active {
  background: mediumblue;
}

.answer.correct {
  animation: correct 3s ease forwards;
}

@keyframes correct {
  0%,
  22%,
  42% {
    background: mediumblue;
  }
  20%,
  40%,
  60% {
    background: linear-gradient(#0e0124, #22074d);
  }
  62%,
  100% {
    background: #33d40f;
  }
}

.answer.wrong {
  animation: wrong 3s ease forwards;
}

@keyframes wrong {
  0%,
  22%,
  42% {
    background: mediumblue;
  }
  20%,
  40%,
  60% {
    background: linear-gradient(#0e0124, #22074d);
  }
  62%,
  100% {
    background: red;
  }
}

.item {
  display: inline-block;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  width: auto;
}

.item.active {
  background-color: teal;
}

.money {
  background-color: #020230;
  display: flex;
  align-items: center;
  justify-content: center;
}

.money-list {
  padding: 20px;
  list-style: none;
  width: 100%;
}

.amount {
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}

.timer {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 5px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 10px;
  left: 80px;
  font-size: 30px;
  font-weight: 700;
}

.earned {
  position: relative;
  margin: auto;
  margin-top: 150px;
  color: #fff;
  font-weight: 600;
}